<nav>
<h2>My Todos</h2>
<a routerLink="/add-todo">Add New Todo</a>
</nav>
<router-outlet></router-outlet>

<ul class="todos">
    <li *ngFor="let todo of todos"
      [class.selected]="todo === selectedTodo"
      (click)="goToEditPage(todo)"> 
      <span class="badge">{{todo.id}}</span> {{todo.task}} 
      <span (click)="deleteTodo(todo.id)">
          <i  class="fa fa-trash-o" style="margin-left:600px; padding-left:500px; !important" aria-hidden="true"></i>
      </span>
    </li>
    <li style="background-color: #DDD; font-family: Arial, Helvetica, sans-serif; color:#444; font-weight: bold;" *ngIf="todos?.length == 0">No Todos Found. </li>
</ul>